.claude
data-generator/generate
resources/references.json
.env
test/results.json
temporary-results
misc/participant-removal.sh

.direnv/
.idea/
.cache/
.tmp/
tmp/

*.iml
*.log
hs_err_pid*
replay_pid*

.gradle/
build/
target/
out/

.vscode/
dataset.bin
.m2repo
TODO.md