global
    maxconn 4096
    tune.bufsize 4096

defaults
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option splice-request
    option splice-response

frontend ft_api
    bind *:9999
    default_backend bk_api

backend bk_api
    balance roundrobin
    server api1 api01:8080
    server api2 api02:8080
